<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{product.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{product.imageUrl}}" alt="{{product.title}}">
  <mat-card-content>
    <p appChangeFontSize [fontWeight]="'lighter'">
      {{product.description}}
    </p>
    <span appChangeFontSize>{{product.cost | currency}}</span>
  </mat-card-content>
  <mat-card-actions>
    <button [ngClass]="{'inCart': inCart}" mat-button matTooltip="Out of stock" [matTooltipDisabled]="product.isAvailable" [disabled]="!product.isAvailable" (click)="onAddToCart()">
      {{inCart ? 'In Cart' : 'Buy' | uppercase}}
    </button>
    <button mat-button routerLink="/product/{{product.id}}">{{'Details' | uppercase}}</button>
  </mat-card-actions>
</mat-card>
