<p>{{product.title}}</p>
<div class="right-container">
  <div class="left">
    <mat-icon aria-hidden="false" fontIcon="remove" (click)="onQuantityDecrease(product.id)"></mat-icon>
    <span class="count">{{product.count}}</span>
    <mat-icon aria-hidden="false" fontIcon="add" (click)="onQuantityIncrease(product.id)"></mat-icon>
  </div>
  <div class="right">
    <span class="price">
    <span>{{product.cost | currency: 'USD'}}</span>
      <mat-icon aria-hidden="false" class="remove" fontIcon="delete" (click)="onDeleteItem(product.id)"></mat-icon>
  </span>
  </div>
</div>
