mat-panel-title {
  height: 100%;
}

.icon-cart {
  transform: scale(.6);
}

.container {
  display: flex;
  align-items: flex-end;
}

.items-container {
  display: flex;
  flex-direction: column;
}

.summ {
  margin-left: auto;
  font-weight: bold;
  font-size: 20px;
}

.item {
  border-radius: 5px;
  padding: 10px;
}

.empty {
  display: flex;
  justify-content: center;

    p {
      font-size: 18px;
    }
}
