<h3>{{"Cart" | uppercase}}</h3>
<div class="cart" *ngIf="(products$ | async)?.length; else empty">
  <div>
    <mat-checkbox [(ngModel)]="direction">
      <mat-icon *ngIf="direction; else elseBlock" aria-hidden="false" fontIcon="arrow_upward"></mat-icon>
      <ng-template #elseBlock>
        <mat-icon aria-hidden="false" fontIcon="arrow_downward"></mat-icon>
      </ng-template>
    </mat-checkbox>
    <mat-form-field appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="sort By">
        <mat-option *ngFor="let option of selectOptions | keyvalue" [value]="option.value">
          {{option.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="items-container">
    <div class="item" appHighlight [colorForHover]="colorForHover" *ngFor="let item of (products$ | async)! | orderBy: selectedValue: direction;  trackBy: trackByFn">
      <app-cart-item
        [product]="item"
        (deleteId)="onDeleteItem($event)"
        (increaseProduct)="onQuantityIncrease($event)"
        (decreaseProduct)="onQuantityDecrease($event)"
      ></app-cart-item>
    </div>
    <p class="summ"><span>{{'subtotal:' | uppercase}}</span>{{cartService.totalCost | currency}}</p>
  </div>
</div>
<div class="buttons">
  <button mat-button routerLink="/order">{{'proceed to checkout' | uppercase}}</button>
  <span>or</span>
  <button mat-button routerLink="/">{{'continue shopping' | uppercase}}</button>
</div>

<ng-template #empty>
  <div class="empty">
    <p>Cart is empty...</p>
  </div>
</ng-template>
